   <aside id="sidebar">
                <!-- START Sidebar Content -->
                <div class="sidebar-content">
                    <!-- START Sidebar Tab -->

                    <!-- START Tab Content -->
                    <div class="tab-content">
                        <!-- START Tab Pane(menu) -->
                        <div class="tab-pane active" id="tab-menu">
                            <!-- START Sidebar Menu -->
                            <nav id="nav" class="accordion">
                                <ul id="navigation">
                                    <!-- START Menu Divider -->
                                    <li class="divider">Main Menu</li>
                                    <!--/ END Menu Divider -->

                                    <!-- START Menu -->
                                    <li class="accordion-group ">
                                        <a href="<%=root_path%>">
                                            <span class="icon icone-dashboard"></span>
                                            <span class="text">Scraped Profiles</span>
 
                                        </a>
                                    </li>
                                    <!--/ END Menu -->

                                    <!-- START Menu -->
                                    <li class=""accordion-group "">
                                         <a href="<%= new_profile_path %>">
                                            <span class="icon icone-bar-chart"></span>
                                            <span class="text">Scrape New Linkedin Profile</span>
                                           
                                        </a>
  
                                    </li>
                                    <!--/ END Menu -->

                                    <!-- START Menu -->
                                    <li class="accordion-group ">
                                        <a href="<%#= users_path %>">
                                            <span class="icon icone-user"></span>
                                            <span class="text">Users</span>
                                         
                                        </a>
                                        
                                    </li>
                                 
                                    <!--/ END Menu -->

                                    <!-- START Menu -->
                                    
                        </div>
                        <!--/ END Tab Pane(overview) -->
                    </div>
                    <!--/ END Tab Content -->
                </div>
                <!--/ END Sidebar Content -->
            </aside>